<%- include("./partials/header") %>
<div class="overflow-hidden p-3 p-md-5 m-md-3" style="background-color: #b1c1aa; color:whitesmoke; ;">
    <h3 style="color:darkslategrey; text-align:center;" class="display-5">Hello <%= name %>!
    <small class="text-muted"> Welcome to Your LFG Profile! </small></h3><br><br><br>
    <div class="col-sm-6 mx-auto" style="background-color:#2b2b2b">
        <div class="card" style="border:none; background-color:#2b2b2b; text-align:center;"><br><br><br><br>
            <img src="/uploads/pfImages/<%=pfImg%>" alt="" class="rounded-circle mx-auto d-block"
                style="width: 300px; height:300px;">
            <div class="card-body">
                <h3 class="card-title">User Name:<br>
                    <small style="color: #b1c1aa;" class="text-muted"><%= userName %></small>
                </h3>
                <h3 class="card-title">Location:<br>
                    <small style="color: #b1c1aa;" class="text-muted"><%= location %></small>
                </h3>
                <h3 class="card-title">Discord Id:<br>
                    <small style="color: #b1c1aa;" class="text-muted"><%= discordId %></small>
                </h3>
                <h3 style="border:none; background-color:#b1c1aa; " class="btn btn-outline-secondary btn-lg"><a style="color:darkolivegreen;" href="/favorites/<%= id %>">@<%=userName%>'s Favorite Games!<br>
                    <small class="text-muted">(that's you btw!)</small>
                </h3>
            </div>
            <form action="/logout?_method=DELETE" method="POST">
                <button class="btn btn-outline-secondary btn-lg" type="submit">Logout!</button>
            </form>
            <div class="card-footer" style="text-align: center;">
                <p class="footer">LFG COPYRIGHT 2022</p>
            </div>
        </div>
</div>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3" style="background-color:#38283a; color:#e5e5e5; ;">

<h1 class="display-4 font-weight-normal">Looking For Gamers</h1>

<h3 class="display-5">The place where gamers find gamers.</h3>

<h6 class="lead">Looking For Gamers is a <s>REVOLUTIONARY</s> PRETTY COOL new social media platform designed to connect gamers together based on similar interests! <br>
Also...WE KNOW! The site is in the earliest stages of development, so be sure to check back later for future updates.<br><br><br>

Or join our mailing list for periodic updates on the app! <br>
We hate spam just as much as you do, so we promise not to email you a ton! <br>
JSYK! By providing your email here, you are opting into receiving emails from us...if that wasn't obvious!</h6>

<h5 class="display-4 font-weight-normal">Sign up for Updates on LFG!</h5>
<form action="/emails" method="POST">
    <div class="form-group">
        <% if (messages) { %>
            <p><%= messages.signup %></p>
        
            <% } %>
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="emailAddress" size="100px" name="emailAddress" placeholder="yourname@example.com">
    </div>
    <button type="submit" class="btn btn-outline-secondary">Sign Up!</button>
</form>
</div>

<%- include("./partials/gamingNews") %>

<%- include("./partials/footer") %>