
<%- include("./partials/header") %>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3" style="background-color:#38283a; color:#e5e5e5; ;">

    <h1 class="display-4 font-weight-normal">Looking For Gamers</h1>
    
    <h3 class="display-5">The place where gamers find gamers.</h3>

    <h6 class="lead">Looking For Gamers is a <s>REVOLUTIONARY</s> PRETTY COOL new social media platform designed to connect gamers together based on similar interests! <br>
    Also...WE KNOW! The site is in the earliest stages of development, so be sure to check back later for future updates.<br><br><br>

    Or join our mailing list for periodic updates on the app! <br>
    We hate spam just as much as you do, so we promise not to email you a ton! <br>
    JSYK! By providing your email here, you are opting into receiving emails from us...if that wasn't obvious!</h6>

    <h5 class="display-4 font-weight-normal">Sign up for Updates on LFG!</h5>
    <form action="/emails" method="POST">
        <div class="form-group">
            <% if (messages) { %>
                <p><%= messages.signup %></p>
            
                <% } %>
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="emailAddress" size="100px" name="emailAddress" placeholder="yourname@example.com">
        </div>
        <button type="submit" class="btn btn-outline-secondary">Sign Up!</button>
    </form>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3" style="color:#ce08e3; background-color: #b1c1aa;">
<h1 class="display-5">Login to LFG!</h1>

<h3>Returning User? If So Login to Your Existing LFG Account Below!
<small class="text-faded">Or if you just created an account login here!</small>
</h3>
<% if (messages) { %>
    <p><%= messages.error %></p>
    
    <% } %>
<form action="/login" method="POST">
    <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" placeholder="LFG@app.com" required>
    </div>
    <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="********"required>
    </div>
    <div class="form-group">
    <button class="btn btn-outline-secondary btn-lg" style="background-color:darkslategrey ;"type="submit">Login!</button>
    </div>
</form>
    <h4 class="display-5">Don't have an LFG account?<br> 
     <small>Then <a href="/create">Create an Account Here!</a></small></h4>
</div>


<%- include("./partials/gamingNews") %>

<%- include("./partials/footer") %>