<%- include("../partials/header") %>

<p><%= game.title %></p>
<p><%= game.releaseDate %></p>
<p><%= game.genre %></p>
<p><%= game.rating %></p>

<a href="/games/<%= game._id %>/edit">Edit</a>

<form action="/games/<%= game._id %>?_method=DELETE" method="post">
    <input type="submit" value="Delete">
</form>

<%- include("../partials/footer") %>