<%- include("../partials/header") %>

<p><%= game.title %></p>
<p><%= game.releaseDate %></p>
<p><%= game.genre %></p>
<p><%= game.rating %></p>

<a href="">Edit</a>
<a href="">Delete</a>

<%- include("../partials/footer") %>