<%- include("../partials/header") %>


<h1>User Profile Page</h1>
<h2>Hello <%= name %></h2>
<h2>User Name:<%= userName %></h2>
<h2>Discord Id:<%= discordId %></h2>
<h2>Favorite Games:<%= favoriteGames %></h2>
<h2>Location:<%= location %></h2>

<%- include("../partials/footer") %>